mixin autofocus
    p(id="autofocus" class="hidden")
    
    - var n = 1;
    p(class="hidden")
        while n < 121
            span(id="flag_"+n++) 0
          
    - var n = 1;
    p(class="hidden")
        while n < 121
            span(id="flag_up_"+n++) 0
    
