mixin head(data, _css_1, _css_2, _css_3, _css_4, _css_5)
    mixin css(way)
        link(rel="stylesheet"  href="css/"+way+".css" )
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags 
    title= data 
    // Bootstrap
    link(rel="stylesheet"  href="css/bootstrap.min.css" )
    link(rel="stylesheet" href="svg/css/font-awesome.min.css")
    +css(_css_1)
    if _css_2 
        +css(_css_2)
    if _css_3 
        +css(_css_3)
    if _css_4 
        +css(_css_4)
    if _css_5 
        +css(_css_5)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file:// 
