mixin instruction
    .center 
        h1 How to use this vocabulary trainer
    .row 
        .col-md-12
            div(id="accordion" class="panel-croup")
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h4(class="panel-title")
                            a(href="#collapse-1" data-parent="#accordion"  data-toggle="collapse")
                                | The answer №1
                    div(id="collapse-1" class="panel-collapse collapse")
                        div(class="panel-body")
                            p(class="panel-body")
                                | Программа считывает введенные вами данные с формы. После этого происходит удаление всех пробелов с начала и конца пользовательской строки, а также двойных пробелов между словами. Затем происходит проверка на наличие знаков пунктуации и спецсимволов, которые не являются литералами английского языка и в случае обнаружения оных скрипт выведет соответствующее сообщение. Отсюда следует что скрипт пропустит нарушение регистра, а также случайный лишний пробел, но не пропустит любой знак введенный в форму, который не является буквой.
                                br
                                | Рекомендация: вводите слова строчными английскими литералами используя при этом один пробел между словами. После нажатия на кнопку " Проверить " или клавишу " Enter " происходит проверка на соответствие правильному варианту и кнопка проверенной формы перестаёт быть активной, изменяя слегка при этом цвет. Для вызова функции проверки на правильность в поле должен быть введен как минимум один символ, это сделано для предупреждения преждевременной деактивации незаполненных полей при случайном нажатии. Для возврата к исходному состоянию - перезагрузите страницу.
                                br
                                | Если английские формы неправильных глаголов содержат более чем три слова наведите курсор на подсказку под формой и во всплывающем окне будет видна правильная градация.
                                br
                                | Желаю Вам успехов!
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h4(class="panel-title")
                            a(href="#collapse-2" data-parent="#accordion"  data-toggle="collapse")
                                | The answer №2
                    div(id="collapse-2" class="panel-collapse collapse")
                        div(class="panel-body")
                            p(class="panel-body")
                                | Кнопки пагинации позволяют перемещаться по списку перемещаясь ниже с пропуском в 20 слов. Если вы хотите начать тренировку, пропустив при этом первые 40 слов - нажмите кнопку " 3 ", если 60 - кнопку " 4 " и т.д. Кнопку " Hide all answers " необходимо нажать перед началом тренировки, после этого будут скрыты все правильные ответы на русском языке. Функциональные строки " hide five words " and " hide " скрывают по пять строк позволяя более гибко перемещаться по списку вниз. Это реализовано для возможности скрывать слова, которые Вы уже знаете и быстро перейти к нужной строке. Для возврата в исходное состояние перезагрузите страницу.
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h4(class="panel-title")
                            a(href="#collapse-3" data-parent="#accordion"  data-toggle="collapse")
                                | The answer №3
                    div(id="collapse-3" class="panel-collapse collapse")
                        div(class="panel-body")
                            p(class="panel-body")
                                |Обработчик событий с клавиатуры.
                                br
                                | Клавиши " ⇑ " и " ⇓ " перемещение по формам.
                                br
                                | Клавиши " ⇐ " и " ⇒ " показать и скрыть статистику соответственно.
                                br
                                | Клавиша " Enter " вызов функции валидации.

                                
