mixin handler
    .row(id="start")
        div(class="center col-xs-12")
            span
                button(type="submit" class="btn btn-default _statistic" onclick="start_training()")
                    i( class="fa fa-sign-in")
                    | &nbsp;&nbsp; Start &nbsp; &nbsp;
            span
                button(type="submit" class="btn btn-default _statistic" onclick="stop_training()")
                    i(class="fa fa-sign-in fa-rotate-180") 
                    | &nbsp; Statistics
        
    
