include ../instruction/instruction

mixin info
    div(class="col-lg-9 col-md-9 col-sm-8 col-xs-12")
        .center
            h1 120 irregular verbs
            h3 The basic set of verbs that you need to communicate
            br
            p(class="just")
                | Nowadays there is a great number of computer programs and websites that help people to learn English fast and easily. The thing is that it is very difficult cover all segments of the language at the same time. Therefore we decided to create a separate trainer to help new English learners focus on studying one specific topic – irregular verbs. The purpose of this trainer is to help you memorize all three forms as soon as possible. After completing the course of exercises irregular verbs will strongly take root in your mind.
            br    
            p(class="just")
                | Moreover, you’ll be able not only to use them in speech but also be sure about the correct spelling what is very important for those who deal with mail correspondence. So, to start with, you have to write the translation of all three forms from Russian to English. Then you need to press Check. If the answer is right the light bulb will turn on. If there is a mistake it is going to stay turned off and the system will show you the correct answer. Good luck in your endeavors!
            br
            br
        +instruction    
