mixin footer
    footer
        div
            .validator(id="github")
                a(href="https://ihor-moroz@bitbucket.org/ihor-moroz/irregular_verbs.git")
                    i(class="fa fa-github fa-5x" aria-hidden="true")
    
