mixin we
    div(class="col-lg-2 col-md-2 col-sm-3 hidden-xs")
        .author
            p(class="fs_16 green") Abuot us:
            img(src="./img/author_2.jpg" alt="author_1" id="author")
            br
            br
            p(class=" fs_12 green")
                | Ihor Moroz.
                br
                | It's me.
                br
                | I'm a front-end developer
            br    
            img(src="./img/content_maneger_1.jpg" alt="author_2")    
            br
            br
            p(class=" fs_12 green")
                | Marina Moroz - the author of this idea, English teacher, content-manager
                br
            
