include head/head
include content/main/content



doctype html
html(lang="zxx")
    head
        +head("irregular verbs", "main")

    body
        +content

        script( src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src ="js/bootstrap.js")    
        script(src ="js/scripts.min.js")    
